Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [59]:
import pandas as pd
ratings=pd.read_csv('ratings.csv')
ratings_5=ratings.query('rating==5')
ratings_5.groupby('movieId').count().sort_values('rating',ascending=False).head(1)

         userId  rating  timestamp
movieId
318         153     153        153

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [112]:
import pandas as pd
power=pd.read_csv('power.csv')

countryes = ['Lithuania', 'Latvia', 'Estonia']

power_filter_country = power[(power['country'] == countryes[0]) | (power['country'] == countryes[1]) | (power['country'] == countryes[2])]
power_filter_catCou = power_filter_country[(power_filter01['category'] == 4) |  (power_filter_country['category'] == 12) | (power_filter_country['category'] == 21)]
power_filter_all = power_filter_catCou[(power_filter_catCou['year'] < 2011) & (power_filter_catCou['year'] > 2004) & (power_filter_catCou['quantity'] >= 0)]

country_all = power_filter_all['country'].value_counts()
sum_all = sum(country_all)
sum_all

408

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [110]:
table = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')[0]
print(table)

         0        1      2        3       4      5               6       7   \
0  аааа   2Т 762   0,0%   Nasdaq  9Т 757  -2,6%  ааИбаКаОаЙаН  9Т 112
1    а аЂаЁ   1Т 247  -0,8%   S&P500  3Т 009  -2,4%      ааЕббб     401
2       Dow  25Т 016  -2,8%  FTSE100  6Т 159   0,2%    ааОаЛаОбаО  1Т 772

      8        9       10    11
0  -0,2%  USD/RUB  698393  0,1%
1  -1,4%  EUR/RUB  785999  0,4%
2   0,0%  EUR/USD   11255  0,3%